.red {
    color: red;
    width: 40%;
    margin: 10px auto;
  }
  
  .burlywood {
    background-color: burlywood;
  }
  
  .button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  .button:hover {
    background-color: lightgreen;
    color: black;
  }
  